<div class=" row-fluid">

  <div class='span5 sandbox'>

    <div class="row-fluid">
      <div class="span12">
        <h3>WORKLOAD SANDBOX</h3>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2 btn-group">
        <%= button_tag "new group", :class => 'btn btn-primary', :id => 'new-agent-group-button' %>
      </div>

      <div class="input-prepend offset1 span9">
        <%= button_tag "to benchmark", :class => 'btn', :type => "button", :id => 'create-static-profile-with-group' %>
        <input id="appendedInputButton" class="span6" type="text" placeholder="with duration (in minutes)">
      </div>
    </div>

    <br/>

    <div class="row-fluid">
      <div id='agent-groups' class="span12">
        <%= render 'agent_groups/index' %>
      </div>
    </div>

  </div>

  <div class='span7 sandbox'>
    <div class="row-fluid">
      <div class="span12">
        <h3>CURRENT BENCHMARK</h3>
      </div>
    </div>

    <div class="row-fluid">
      <div class="input-prepend span4 btn-low">
        <%= button_tag "create", :class => 'btn', :type => "button", :id => 'create-benchmark' %>
        <input id="benchmark_name" class="span9" type="text" placeholder="benchmark name">
      </div>


      <div class="span2">
        <h4>or select an</h4>
      </div>
      <div class="span4 btn-low">
        <%= select_tag "current_benchmark_id", options_for_select(@profiles), :prompt => "existing benchmark" %>
      </div>
    </div>

    <div id="current_profile_details" class="row-fluid">
      <%= render 'shared/profile_details' %>
    </div>
    <%= render 'shared/new_static_profile' %>
    <%= render 'shared/edit_static_profile' %>
  </div>


</div>

<!-- Modal -->
<div id="new-group-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addAgentGroup" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addAgentGroup">New Agent Group</h3>
  </div>

  <%= form_for :agent_group, :url => agent_groups_path(@agent_group), :remote => true, :html => {:id => :new_agent_group} do |f| %>
    <fieldset>
      <div class="modal-body row">  
          <label for="agents" class="span2">Agents Type</label>
          <%= f.select :agents_type, AGENT_TYPES.map { |at| [at.sub(/Agent$/, '').downcase, at] }, {}, :class => "" %>

          <label for="agents" class="span2">Agents</label>
          <%= number_field_tag 'agent_group[agents]', 0, :in => 0...100000 %>

          <label for="delay" class="span2">Delay</label>
          <%= number_field_tag 'agent_group[delay]', 0, :in => 0...100000 %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= submit_tag 'Add', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %> 
</div>


<script>
  $(document).ready(function() {
      $('#new-agent-group-button').on('click', function() {
        newGroup();
      });

      $('#new_agent_group').on('submit', function() {
        $('#new-group-modal').modal('hide');
      });

    $('#create-static-profile-with-group').on('click', function() {
      $.ajax({
        url: 'static_profiles/create_with_group', 
        type: 'POST',
        data: {'duration': $('#appendedInputButton').val()}
      }).done(function(details) {
        $('#current_profile_details').html(details);
      });
    });

    $('#create-benchmark').on('click', function() {
      $.ajax({
        url: 'create_benchmark', 
        type: 'PUT',
        data: {'name': $('#benchmark_name').val()}
      }).done(function(details) {
        $('#current_profile_details').html(details);
      });              
    });

    $('#current_benchmark_id').on('change', function() {
      $.ajax({
        url: 'update_profile',
        type: 'PUT',
        data: {'current_profile_id': $(this).val()}
      }).done(function(details) {
        $('#current_profile_details').html(details);
      });
    });

  });
</script>

