<!-- a simple heading title -->
<h1>Geograph Agent Farm</h1>

<div id="container">

 <div id="buttons-container">
  <div id="new-group-container">
    <%= button_tag "new group", :id => 'new-group-button', :onclick => "newGroup();" %>
  </div>

  <div id="process-edges-container">
    <%= button_tag "edges processor", :id => 'process-edges-button', :onclick => "chooseProcess();" %>
  </div>

  <div id="inspect-container">
    <%= button_tag "inspect agents", :id => 'inspect', :onclick => "location.href='agents'" %>
  </div>
 </div>

  <div id="agent-groups" class="agent-group-list">
      <%= render 'agent_groups/index' %>
    </div>
</div>


<div id="new-group" style="display: none;">
  <%= form_for :agent_group, :url => agent_groups_path(@agent_group), :remote => true, :html => { :id => :new_agent_group } do |f| %>
    <label for="name">name</label>
    <%= f.text_field :name, :class => "text ui-widget-content ui-corner-all" %>
    <br />

    <label for="type">agents type</label>
    <%= f.select :agents_type, AGENT_TYPES.map{|at| [at.sub(/Agent$/, '').downcase, at]}, {}, :class => "ui-select" %>
    <br /><br />

    <label for="name">agents <span id="agents-selected-new">0</span></label>
    <%= hidden_field_tag 'agent_group[agents]' %>
    <div class="agents-slider slider" rel="new"></div>
    <br />

    <label for="name">delay <span id="delay-selected-new">0</span> (sec)</label>
    <%= f.hidden_field :delay %>
    <div class="delay-slider slider" rel="new"></div>


  <% end %>
</div>





<div id="edges-processor" style="display: none;">
  
    <label for="process-edges" id="label-process-edges">process type</label>
    <%= select(:process, :edges, ['none', 'job', 'action'], {:selected => 'none'}, {:class => 'ui-select'}) %>
    <br /><br />

    <label for="name">distance <span id="distance-selected-new">0</span> (mt)</label>
    <%= hidden_field_tag "process[distance]" %>
    <div class="distance-slider slider" rel="new"></div>
  
</div>
