<h1>Agents Monitor</h1>



<%= @agent_groups.each do |group| %>

  <h2>Group <%= group.name %></h2>
  <h3>Group id: <%= group.oid %></h3>

  <table id="<%= group.oid %>" class="tablesorter">
    <thead>
    <tr>
      <th>Agent Id</th>
      <th>Agent Type</th>
      <th>Status</th>
      <th>Step (ms)</th>
      <th>Execution time (ms)</th>

    </tr>
    </thead>
    <tbody>

    <%= group.getAgents.each do |agent| %>

      <tr>
        <td><%= agent.oid %> </td>
        <td><%= agent.type %></td>
        <td><%= agent.status %></td>
        <td><%= group.delay %></td>
        <td id="last-execution-<%=agent.oid%>">
          <%if(agent.execution_time and (agent.execution_time >= 0))%>
          <%= agent.execution_time %>
          <%else%>
          n/a
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>


<% end %>


<script type="text/javascript">

  $(document).ready(function() {
      $(".tablesorter").tablesorter();

      var intervalId = setInterval(function() {
        $.ajax({
          url:'agents/refresh_time',
          accept:'js'
        });
      }, 2000);
    }
  );


</script>



