<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div id="message"><%= @schedule.active? ? "Benchmark is running" : "Benchmark is idle" %></div>
</div>

<div id="errors">
</div>

<div id="active-schedules">
  <%= render 'active_schedules' %>
</div>

<div class="row-fluid">

  <div class="span7">
    <div class="schedule-header">
      <h2>
        <h2 class="span6">Benchmarking Schedule</h2>
        <div class="span1 new-benchmark btn-group">
          <button type="button" class="span12 btn btn-primary" id="add-dynamic-profile-button">add</button>
          <%= select_tag "dynamic-profile-select",  options_from_collection_for_select(@dynamic_profiles, 'id', 'name'), :prompt => "add benchmark" %>
        </div>
      </h2>
    </div>

    <div id="dynamic-profiles-container">
      <%= render 'benchmarks' %>
    </div>
  </div>

  <div class="span5 benchmark-console">

    <div class="well span12">
      <div class="span12 iterations row-fluid">
        <div class="span4 ">
          <h4># ITERATIONS: </h4>
        </div>

        <div class="span2">
          <%= number_field_tag 'number_iterations', @schedule.iterations, :in => 1...100000, :class => "span12" %>
        </div>

        <div class="offset1 span3 ">
          <h4>CURRENT: </h4>
        </div>

        <div class="span2 label label-success current-iteration">
          #<%= @progress_data[:current_iteration] %>
        </div>
      </div>

      <%= button_tag "start", :class => "btn btn-large btn-block btn-success", :id => 'start-benchmark-button' %>
      <%= button_tag "stop", :class => "btn btn-large btn-block btn-danger", :id => 'stop-benchmark-button' %>

      <div id="global-progress-bar" class="progress progress-warning progress-striped">
        <% progress = @progress_data[:global_progress] %>
        <div id="global-progress" class="bar" style="width: <%= progress %>%"><%= progress %>%</div>
      </div>

      <div id="countup"></div>
    </div>
  </div>

</div>

<script>

  $(document).ready(function() {
    attachBenchmarkListeners();
    
    var scheduleActive = <%= @schedule.active %>;
    if(scheduleActive) {
      var stringDate = '<%= @progress_data[:start_time] %>';
      var startDate = new Date();
      if(stringDate != '') 
        startDate = new Date(stringDate);
      $('#countup').countup({start: startDate});
      timerStatus = 'running';
    } else {
      $('#countup').countup();
      $('#countup').countup({stop: true});
    }

  });
</script>