<div id="status"> <%= "Benchmark is running" if @schedule.active? %></div>


<div class="row-fluid">

  <div class="row-fluid benchmark-buttons">
    <div class="offset3 well span6">
      <%= button_tag "start", :class => "btn btn-large btn-block btn-success", :id => 'start-benchmark-button' %>
      <%= button_tag "stop", :class => "btn btn-large btn-block btn-danger", :id => 'stop-benchmark-button' %>
    </div>
  </div>
</div>

<h3>Benchmarking Schedule</h3>

<div class=" span4 row-fluid">
  <div class="span1">
    ITERATIONS:
  </div>

  <div class="span1">
    <%= number_field_tag 'number_iterations', @schedule.iterations, :in => 1...100000,
                         :class => "span12",
                         :onchange => %Q{$.ajax({url: '#{update_iterations_path}',
                                 type: 'PUT',data: {'iterations': $(this).val()}});}.html_safe %>
  </div>

  <div class="span1">
    <button type="button" class="span12 btn btn-primary" id="add-dynamic-profile-button">add</button>
  </div>

  <div class="span2">
    <%= select_tag "dynamic-profile-select", options_from_collection_for_select(@dynamic_profiles, 'id', 'name'), :prompt => "add benchmark" %>
  </div>

</div>


<div id="dynamic-profiles-container">
  <%= render 'benchmarks' %>
</div>




<script>
  function refreshProgresses() {
    $.ajax({
      url: 'benchmark_schedules/progress',
      accept: 'json'
    }).done(function(data) {
        if(data.dynamic_profiles) {
          $.each(data.dynamic_profiles, function(key, value) {
            var progress = $('#dynamic-profile-progress-' + key);
            progress.html(value + '%');
            progress.css({width: value + '%'});
          });
        }
        if(data.static_profiles) {
          $.each(data.static_profiles, function(key, value) {
            var progress = $('#static-profile-progress-' + key);
            console.log(progress);
            progress.html(value + '%');
            progress.css({width: value + '%'});
          });
        }
      });
  }

  $(document).ready(function() {

    setInterval(refreshProgresses, 2000);

    $('#dynamic-profiles-container').on('click', '.icon-trash', function(event) {
      event.stopPropagation();
      var icon = $(this);
      if(confirm("Are you sure you want remove profile " + icon.data('profile') + ' from this benchmark?')) {
        $.ajax({
          url: 'benchmark_schedules/remove_profile',
          data: { profile: icon.data('profile') },
          type: 'delete'
        }).done(function(data) {
            $('#dynamic-profiles-container').html(data);
          });
      }
    });

    $('#add-dynamic-profile-button').on('click', function() {
      var dynamicProfile = $('#dynamic-profile-select').val();
      if(dynamicProfile == '') return;

      $.ajax({
        url: 'benchmark_schedules/set_benchmark',
        data: { profile: dynamicProfile },
        type: 'post'
      }).done(function(data) {
          $('#dynamic-profiles-container').html(data);
        });
    });


    // start the benchmark
    $('#start-benchmark-button').on('click', function() {
      $.ajax({
        url: 'benchmark_schedules/play',
        type: 'PUT',
        success: function() {
          $('#status').html('Benchmark is running');
        }
      });
    });

    // stop the benchmark
    $('#stop-benchmark-button').on('click', function() {
      $.ajax({
        url: 'benchmark_schedules/stop',
        type: 'PUT',
        success: function() {
          $('#status').html('Benchmark is stopped');
        }
      });
    });

  });
</script>